*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#btns {
  width: 75%;
  margin: 15% auto;
  text-align: center;
}

button[id^="btn"] {
  width: 30%;
  height: 48px;
  font-size: 24px;
}
